body {
    background: #001a33;
    color: white;
    font-family: Arial;
    text-align: center;
}

.menu a {
    display: inline-block;
    padding: 12px 18px;
    margin: 5px;
    background: #002b80;
    color: yellow;
}

.board {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.column {
    margin: 10px;
}

.tile {
    background: navy;
    color: yellow;
    padding: 20px;
    margin: 4px;
    display: block;
}
